pydantic_settings
alembic
torchsde
spandrel
kornia
av
transformers
huggingface_hub
hf_transfer
hf_xet
accelerate
diffusers
onnxruntime-gpu==1.22.0
piexif
requests
deepspeed
ultralytics==8.3.197
comfyui-embedded-docs
comfyui-workflow-templates
imageio_ffmpeg
triton<3.6; sys_platform == 'linux'
triton-windows<3.6; sys_platform == 'win32'
